<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 py-2  d-flex  d-flex">
      <nav aria-label="Page navigation example">
        <ul class="pagination mx-auto">
          <li class="page-item" (click)="previousPage()">
            <a class="page-link text-success" href="#" aria-label="Previous"  [routerLink]="" >
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
      
          <li *ngFor="let page of pages" (click)="updateCurrentPage(page)"  [ngClass]="{  'active': currentPage == page }" class="page-item">
            <a [routerLink]="" class="page-link text-success" >{{ page }}</a>
          </li>
      
          <li class="page-item" (click)="nexPage()">
            <a class="page-link text-success" href="#" aria-label="Next" [routerLink]="">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
          
    </div>
  </div>
</div>
