<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <!--
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link bg-gradient text-white font-weight-bold"  [routerLink]="['/users']">
          User Manager
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>