<app-navbar></app-navbar>
<div class="main-container">
  <div class="container mb-5 font-weight-bold">
      <div class="row mt-5 mx-auto">
          <router-outlet></router-outlet>
      </div>
    </div>
</div>
