<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <fa name="user-plus" *ngIf="!user.id"></fa>
      <fa name="edit" *ngIf="user.id"></fa>
      {{ subtitle }} Form</h6>
    <form class="my-5" #userForm="ngForm">
      <div class="container">
        <div class="row">   
          <div class="form-group col-md-6">
            <label for="firstname"><fa name="sticky-note"></fa> First Name</label>
            <input type="text" class="form-control" id="firstname" aria-describedby="First Name" placeholder="firstname" [(ngModel)]="user.firstname" name="firstname" required minlength="4" maxlength="10" #firstname="ngModel">
            <div class="alert alert-danger" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
              <div *ngIf="firstname.errors.required">
                Firstname is required
              </div>
              <div *ngIf="firstname.errors.minlength || firstname.errors.maxlength">
                Firstname lengh is between 4 and 10
              </div>
            </div>
          </div>
    
          <div class="form-group col-md-6">
            <label for="lastname"><fa name="sticky-note-o"></fa> Last Name</label>
            <input type="text" class="form-control" id="lastname" aria-describedby="lastname" placeholder="Last Name" [(ngModel)]="user.lastname" name="lastname" required minlength="4" maxlength=70 #lastname="ngModel">
            <div class="alert alert-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
              <div *ngIf="lastname.errors.required">
                Lastname is required
              </div>
              <div *ngIf="lastname.errors.minlength || lastname.errors.maxlength">
                Lastname lengh is between 4 and 70
              </div>
            </div>
          </div>
    
          <div class="form-group col-md-6">
            <label for="username"><fa name="user"></fa> Username</label>
            <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Username" [(ngModel)]="user.username" name="username" minlength="4" maxlength="10" required #username="ngModel">
            <div class="alert alert-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
              <div *ngIf="username.errors.required">
                  Username is required
              </div>
              <div *ngIf="username.errors.minlength || username.errors.maxlength">
                  Username lengh is between 4 and 10
              </div>
            </div>
          </div>
    
          <div class="form-group col-md-6">
            <label for="email"><fa name="envelope"></fa> Email</label>
            <input type="text" class="form-control" id="email" aria-describedby="email" placeholder="email" [(ngModel)]="user.email" name="email" email required #email="ngModel">
            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
              <div *ngIf="email.errors.required">
                  Email is required
              </div>
              <div *ngIf="email.errors.email">
                  Email must be email format
              </div>
            </div>
          </div>
    
          <div class="form-group col-md-6">
            <label for="age"><fa name="clock-o"></fa> Age</label>
            <input type="number" class="form-control" id="age" aria-describedby="age" placeholder="Age" [(ngModel)]="user.age" name="age" required min="12" max="100" #age="ngModel">
            <div class="alert alert-danger" *ngIf="age.invalid && (age.dirty || age.touched)">
              <div *ngIf="age.errors.required">
                  Age is required
              </div>
              <div *ngIf="age.errors.max || age.errors.min">
                  Age between 12 and 100
              </div>
            </div>
          </div>
    
          <div class="form-group col-md-6" *ngIf="!user.id">
            <label for="exampleInputPassword1"><fa name="key"></fa> Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="user.password" name="password" required maxlength="20" minlength="8" #password="ngModel">
            <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
              <div *ngIf="password.errors.required">
                  Password is required
              </div>
              <div *ngIf="password.errors.maxlength || password.errors.minlength">
                  Password maxlength between 4 and 12
              </div>
            </div>
          </div>
    
          <div class="form-group col-md-12 my-2">
            <button type="submit" class="btn btn-block btn-success pull-right"  (click)="store(user)" *ngIf="user.id else elseblock" [disabled]="!userForm.form.valid">update <fa name="paper-plane"></fa></button>
            <ng-template #elseblock>
              <button type="submit" class="btn btn-block btn-success pull-right"  (click)="store(user)" [disabled]="!userForm.form.valid"> create <fa name="paper-plane"></fa></button>
            </ng-template>
          </div>
        </div>
      </div>
    </form>
    <a href="#" class="card-link" [routerLink]="['/users']"><fa name="long-arrow-left"></fa> back</a>
    
  </div>
</div>

