<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
    <fa name="cogs"></fa>
      {{ cardTitle }}
      <button class="btn btn-xs btn-create pull-right my-2" [routerLink]="['form']">
        <span><fa name="user-plus"></fa></span>
      </button>
    </h6>    
    <table class="table table-striped table-ligth">
      <thead>
        <tr>
          <th scope="col">username</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">Email</th>
          <th scope="col">Age</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList">
          <td>{{ user.username }}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.age }}</td>
          <td><button class="btn btn-xs btn-update text-icon" (click)="updateUser(user)"><span><fa name="edit"></fa></span></button></td>
          <td><button class="btn btn-xs btn-delete text-icon" (click)="deleteUser(user)"><span><fa name="user-times"></fa></span></button></td>
        </tr>
      </tbody>
    </table>
    <div class="container">
      <div class="row">        
        <app-paginator *ngIf="paginator" [paginator]="paginator" (currentPageSelected)="setCurrentPage($event)">

        </app-paginator>
      </div>
    </div>
  </div>
</div>
