/* You can add global styles to this file, and also import other style files */
body {
  background-color: #C8E6C9;
}

.page-item.active .page-link {
  background-color: #28a745!important;
  border-color: #28a745;
  color: white!important;
}

a {
  color: #28a745!important;
}

.btn-update {
  background-color: #607D8B;
  
}

.btn-delete {
  background-color: #757575;
}

.btn-create {
  background-color: #C8E6C9;
}

td {
  color: #757575;
  font-weight: 400;
}

th {
  color: #212121;
  font-weight: 700
}

.text-icon {
  color: #FFFFFF;
}

.form-group > label {
  color: #757575;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
